<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.instructor.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceTakingController</servlet-name>
        <servlet-class>controller.instructor.AttendanceTakingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderController</servlet-name>
        <servlet-class>controller.HeaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupManagerController</servlet-name>
        <servlet-class>controller.manager.GroupManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupController</servlet-name>
        <servlet-class>controller.manager.DeleteGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroupController</servlet-name>
        <servlet-class>controller.manager.AddGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroupController</servlet-name>
        <servlet-class>controller.manager.EditGroupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceTakingController</servlet-name>
        <url-pattern>/attendancetaking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderController</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupManagerController</servlet-name>
        <url-pattern>/listgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupController</servlet-name>
        <url-pattern>/deletegroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroupController</servlet-name>
        <url-pattern>/addgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroupController</servlet-name>
        <url-pattern>/editgroup</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            login
        </welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
